In [29]:
import pandas

In [30]:
df1=pandas.read_csv(r'C:\Users\msid4\OneDrive\Desktop\univ\capstone\final_dataset\insulin\insulin1+results.csv')

In [31]:
df1.head()

,Absolute_Negative_Score,Negative_Score,Clean_Text,Positive_Score,Word_Max,Number_of_Records
0,2.0,-2.0,1 During the lapse went 4 weeks wo this med ca...,1.0,2=Word Max,1.0
1,1.0,-1.0,2 He starts sleeping at the shelter Finds anot...,2.0,1=word max,1.0
2,3.0,-3.0,3 Insulin Dose Calculation made dramatically s...,1.0,2=word max,1.0
3,1.0,-1.0,4 No you are right about longacting insulin I ...,1.0,1=word max,1.0
4,2.0,-2.0,5 HerpAlert skyrocketing insulin prices peak...,2.0,1=word max,1.0

In [32]:
import numpy as np

In [37]:
df1['verdict'] = np.where(df1['Positive_Score']>df1['Absolute_Negative_Score '],'yes', 'no')

In [38]:
list(df1)

['Absolute_Negative_Score ',
 'Negative_Score',
 'Clean_Text',
 'Positive_Score',
 'Word_Max',
 'Number_of_Records',
 'verdict']

In [39]:
df1.head()

,Absolute_Negative_Score,Negative_Score,Clean_Text,Positive_Score,Word_Max,Number_of_Records,verdict
0,2.0,-2.0,1 During the lapse went 4 weeks wo this med ca...,1.0,2=Word Max,1.0,no
1,1.0,-1.0,2 He starts sleeping at the shelter Finds anot...,2.0,1=word max,1.0,yes
2,3.0,-3.0,3 Insulin Dose Calculation made dramatically s...,1.0,2=word max,1.0,no
3,1.0,-1.0,4 No you are right about longacting insulin I ...,1.0,1=word max,1.0,no
4,2.0,-2.0,5 HerpAlert skyrocketing insulin prices peak...,2.0,1=word max,1.0,no

In [40]:
df1.groupby('verdict').size()

verdict
no     27077
yes     6291
dtype: int64